body{
    margin: 0;
    box-sizing: border-box;

}
header{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.header{
    height: 50px;
    background-color: #999999;
    width: 90vw;
    
}
.slider{
    flex: 1;
    overflow: hidden;
    width: 90vw;
}
.slider-width{
    width: calc(100vw*3);
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}
.slider-item{
    width:100vw;
    height: inherit;
    background-size: cover;
}
.slider-item01{
    background-image: url(images/img01.jpg);   
}
.slider-item02{
    background-image: url(images/img02.jpg);
}
.slider-item03{
    background-image: url(images/img03.jpg);
}